* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../css/fonts/SourceSansPro-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../css/fonts/SourceSansPro-Regular.ttf");
  font-weight: 400;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/*=====================
=====Images/Logo===== */
.logo {
  width: 23px;
}

.article-post > img {
  margin-block: 0 0.875em;
  width: 100%;
  height: 232px;
  order: -2;
}

.home-section > img {
  width: 100%;
  height: 191px;
  margin-block: 2.18em 0;
}

.about-section > img {
  width: 182px;
  height: 182px;
  border-radius: 50%;
  order: -1;
}

/*=====================
=====TYPOGRAPHY===== */
.app-logo-container > a,
h1,
h2,
h3,
.view-link,
footer > p:first-child {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

.about-div > h1 {
  margin-block-end: 0.5em;
}

h2 {
  font-size: 1rem;
}

.article-listing-title {
  margin-block-start: 2.39em;
  text-align: center;
}

.section > h2,
.section > p {
  margin-block-end: 0.8em;
}

.hero-bg-content > p:last-child,
.nav-list a,
footer > p,
.home-div > p:last-child {
  font-size: 0.75rem;
}

.hero-bg-content > p:last-child,
.article-post > p:last-child,
.home-div > p:last-child {
  order: -1;
}

.article-post > p:last-child {
  font-size: 0.886rem;
  color: rgba(0, 0, 0, 1);
}

.article-post > p:first-child {
  color: rgba(80, 80, 80, 1);
}

h3 {
  color: rgba(20, 20, 20, 1);
  font-size: 1.5rem;
  margin-block: 0.35em;
}

p {
  line-height: 1.6;
}

footer > p:first-child {
  color: rgba(236, 236, 236, 1);
}

footer > p:last-child {
  color: rgba(215, 215, 215, 1);
}

.nxt-line {
  display: block;
  margin-block: 0.8em 0;
}

/*=====================
=======LAYOUT=======*/
/* Header */
header {
  border: 2px solid red;
  width: 100%;
  margin: 0 auto;
  height: 59px;
  display: flex;
  justify-content: space-between;
  padding: 0 1.25em;
}

.app-logo-container {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

/* Main */
main {
  border: 2px solid blue;
  padding-block-end: 2.68em;
  margin: 0;
}

/* Section */
main > section {
  border: 3px solid black;
  padding-inline: 1.25em;
}

/* Hero */
.hero-bg-img {
  background-image: url("../images/article-image-hero.png");
  background-color: rgba(0, 0, 0, 0.31);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: 100%;
  width: 100%;
  min-height: 45vh;
  color: rgba(255, 255, 255, 1);
  position: relative;
}

.hero-bg-content {
  position: absolute;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 374px;
  margin: 0 1.25em;
}

/* Article listing */
.article-listing {
  border: 2px solid green;
  margin: 2.13em 1.25em 0;
  gap: 2.6em;
}

.article-listing,
.article-post {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}

/* Home section */
.section {
  color: rgba(21, 21, 21, 1);
}

.home-section {
  margin-block: 2em 2.19em;
}

.home-div {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

/* About Section */
.about-section {
  display: flex;
  flex-direction: column;
  margin-block: 1.625em 2em;
  gap: 1.6em;
}

/* Navigatio/Links */
.app-logo-container > a {
  font-size: 0.85rem;
  font-family: "Roboto", sans-serif;
  color: rgba(14, 14, 14, 1);
  text-decoration: none;
}

nav {
  margin: auto 0 auto;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 2em;
  list-style: none;
}

.nav-list a {
  color: rgba(9, 9, 9, 1);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.open-btn,
.close-btn {
  display: none;
}

.view-link {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 1);
  margin-block-start: 1.69em;
}

/* Footer */
footer {
  width: 100%;
  height: 105px;
  background: rgba(32, 32, 32, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.15em;
}

@media (min-width: 468px) {
  body {
    background-color: red;
  }
}

@media (min-width: 680px) {
  body {
    background-color: pink;
  }

  header {
    padding-inline: 2.2em;
    height: 70px;
  }

  .logo {
    width: 29px;
  }

  main {
    padding-block-end: 3.18em;
  }

  main > section {
    padding-inline: 2.5em;
  }

  .app-logo-container > a {
    font-size: 1.25rem;
  }

  .nav-list a {
    font-size: 1rem;
  }

  .hero-bg-img {
    min-height: 50vh;
  }

  .hero-bg-content {
    border: 2px solid red;
    bottom: 35px;
    max-width: 657px;
    margin: 0 2.2em;
  }

  .hero-bg-content > h1 {
    font-size: 2.3rem;
  }

  .hero-bg-content > p {
    max-width: 615px;
  }

  .hero-bg-content > p,
  .hero-bg-content > p:last-child,
  .home-div > p:last-child {
    font-size: 1rem;
  }

  .home-div > h1,
  .about-div > h1 {
    font-size: 2.25rem;
  }

  .article-listing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2.2em 2.2em 0;
    gap: 2.88em;
  }

  .article-post {
    width: 100%;
  }

  .view-link {
    font-size: 0.886rem;
    margin-block-start: 2.3em;
  }

  .article-listing-title {
    font-size: 1.25rem;
  }

  .home-section {
    margin-block-start: 3.3em;
  }

  /* .home-div,
  .description {
    padding: 0 3.25em;
  } */

  .home-section > img {
    height: 488px;
  }

  .about-section {
    max-width: 90%;
    flex-direction: row;
    align-items: center;
    padding-block-start: 3.5em;
    margin:0 auto 3em;
    gap: 2.06em;
  }
  .about-div{max-width: 764px;}
}

@media (min-width: 1000px) {
  body {
    background-color: blueviolet;
  }

  .logo {
    width: 34px;
  }

  header {
    padding-inline: 3.3em;
    height: 83px;
  }

  main > section {
    padding-inline: 3.31em;
  }

  .hero-bg-img {
    min-height: 55vh;
  }

  .hero-bg-content {
    bottom: 59px;
    margin: 0 3.3em;
  }

  .article-listing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3.3em 3.3em 0;
  }

  .article-listing-title {
    font-size: 1.5rem;
  }

  .home-section {
    margin-block-start: 4.4em;
  }

  .home-div,
  .description {
    max-width: 860px;
    margin: 0 auto;
  }
}
