/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  color: #ffffff;
  text-align: center;
}

.hero-section {
  padding: 25px;
  background: url("images/akwaibom.jpg");
  background-size: cover;
  background-position: center;
  min-height: 61.7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  background: #1d3557;
  margin-bottom: 12px;
  font-size: 32px;
  padding: 4px 8px;
}

h2 {
  background: #457b9d;
  max-width: 412px;
  padding: 7px 18px;
}

h1,
h2,
h3 h4 {
  font-weight: 700;
}

h1,
h2 {
  border-radius: 10px;
}

.activity-section {
  background: #f1faee;
  padding: 39px 34px;
  color: #1d3557;
  text-align: center;
}

h3 {
  font-size: 24px;
  margin-block-end: 55px;
}

.activities {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.activity {
  width: 250px;
  border: 1px solid #1d3557;
  border-radius: 5px;
  padding: 15px;
}

.activity-title {
  margin: 20px 0 12px 0;
}

.activity-title,
h2,
p,
h4 {
  font-size: 16px;
}

.activity-img {
  width: 100%;
  border-radius: 5px;
}

p {
  font-weight: 400;
  line-height: 1.5;
}

.guide-data {
  width: 100%;
  padding-inline: 15px;
}

.guide-section {
  color: #1d3557;
  background-color: #a8dadc;
  max-width: 400px;
  margin: 50px auto;
  min-height: 294px;
  border-bottom: 5px solid #1d3557;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.avatar-img {
  width: 180px;
  border-radius: 10px;
}

.guide-info {
  margin-left: 8px;
}

.guide-title {
  margin: 26px 0 13px 0;
}

h4 {
  margin-top: 26px;
}

@media (max-width: 450px) {
  .avatar-img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .guide-section {
    max-width: 300px;
    flex-direction: column;
    gap: 13px;
  }
}
