@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  font-size: 0.64rem;
}

body {
  background-color: rgba(35, 37, 44, 1);
  color: rgba(74, 78, 116, 1);
  font-weight: 400;
  font-family: "Inter", sans-serif;
  padding-inline: 10px;
}

img {
  width: 100%;
  height: 317px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-block-end: 2em;
}

h1,
h3 {
  color: rgba(43, 40, 58, 1);
  font-weight: 700;
}

h1 {
  font-size: 2.45rem;
  margin-block-end: 0.25em;
}

h2 {
  font-size: 1.25rem;
  color: rgba(244, 125, 39, 1);
  margin-block-end: 0.69em;
}

h3 {
  font-size: 1.6rem;
  margin-block-end: 0.33em;
}

a,
p {
  font-size: 1.4rem;
}

a {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: rgba(55, 65, 81, 1);
}

p {
  line-height: 1.5;
}

@media (max-width: 250px) {
  body {
    padding: 0;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  a,
  p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1025px) {
  img {
    object-fit: contain;
    margin-block-start: 2em;
  }
  
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  a,
  p {
    font-size: 1.6rem;
  }
}
