* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.menu-emoji,
h1,
h2,
h3,
p,
.order span {
  font-weight: 400;
}

.menu-emoji,
.menu-add-btn {
  font-family: "Inter", sans-serif;
}

.menu-emoji {
  font-size: 79px;
  margin-right: 31px;
}

h1,
h2,
h3,
p {
  font-family: "Smythe", sans-serif;
  color: rgba(255, 255, 255, 1);
}

h2,
h3 {
  color: rgba(0, 0, 0, 1);
}

.order span,
button,
.modal h2 {
  font-family: Verdana, sans-serif;
}

button,
.modal h2 {
  font-weight: 700;
}
#message,
.menu-add-btn {
  font-size: 32px;
}

h1 {
  font-size: 39px;
  margin-bottom: 10px;
}

h2,
.order h3,
.total-price h3:first-child {
  font-size: 28px;
}

.modal h2 {
  margin-bottom: 46px;
}

#checkout-section h2 {
  text-align: center;
  margin-bottom: 62px;
}

h3,
input {
  font-size: 20px;
}

.item-order h3 {
  margin-left: auto;
}

.total-price h3 {
  margin-top: 14px;
  color: rgba(14, 14, 14, 1);
}

.menu-item p {
  font-size: 16px;
  color: rgba(139, 139, 139, 1);
  margin-block: 8px;
}

p {
  font-size: 22px;
}

#message {
  display: none;
  background-color: rgba(236, 253, 245, 1);
  color: rgba(6, 95, 70, 1);
  text-align: center;
  margin-top: 35px;
  padding: 40px 0;
}

.order span {
  font-size: 12px;
  color: rgba(187, 187, 187, 1);
  margin-left: 13px;
  cursor: pointer;
}

/* Sections */
main {
  max-width: 600px;
  margin: 21px auto 0;
  padding: 0 46px;
}

header {
  width: 100%;
  background-image: url("./assets/bg img.png");
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  height: 167px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 46px 0 70px 46px;
}

.menu-section {
  padding-bottom: 51px;
  margin-bottom: 45px;
  border-bottom: 1px solid rgba(210, 210, 210, 1);
  display: flex;
  align-items: center;
}

#checkout-section {
  display: none;
  flex-direction: column;
}

.item-order {
  margin-bottom: 15px;
}

.item-order:last-child {
  margin-bottom: 31px;
}

.item-order,
.order {
  display: flex;
  align-items: center;
}

.total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgba(57, 51, 51, 1);
}

/* Modal */
.modal {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 50px 100px rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: 524px;
  height: 480px;
  margin: auto;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 47px 24px 30px;
}

/* Form */
input {
  width: 100%;
  padding: 16px 27px;
  border-radius: 4px;
  color: rgba(117, 117, 117, 1);
  border: 1.3px solid rgb(117, 117, 117);
}

input:nth-child(2) {
  margin: 23px 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.menu-add-btn {
  margin-left: auto;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  color: rgba(60, 60, 60, 1);
  font-weight: 200;
  border: 1.5px solid rgba(222, 222, 222, 1);
  border-radius: 50%;
  cursor: pointer;
}

button {
  background-color: rgba(22, 219, 153, 1);
  width: 100%;
  height: 60px;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  margin-top: 53px;
  padding: 18px;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.pay-btn {
  padding: 16px;
  margin-top: 46px;
}

@media (max-width: 500px) {
  .menu-emoji {
    font-size: 55px;
    margin-right: 18px;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 7px;
  }

  h2,
  .order h3,
  .total-price h3:first-child {
    font-size: 24px;
  }
  .modal h2 {
    margin-bottom: 32px;
  }

  #checkout-section h2 {
    margin-bottom: 50px;
  }

  h3,
  input {
    font-size: 16px;
  }

  .total-price h3 {
    margin-top: 10px;
  }

  .menu-item p {
    font-size: 14px;
  }

  p {
    font-size: 20px;
  }

  #message,
  .menu-add-btn {
    font-size: 28px;
  }

  #message {
    padding: 30px 0;
  }

  main {
    padding: 0 23px;
  }

  header {
    padding: 23px 0 55px 23px;
  }

  .menu-section {
    padding-bottom: 40px;
    margin-bottom: 35px;
  }

  .item-order {
    margin-bottom: 10px;
  }

  .item-order:last-child {
    margin-bottom: 25px;
  }

  .modal {
    width: 90%;
    height: 400px;
    padding: 35px 20px 25px;
  }

  input {
    padding: 13px 22px;
  }

  input:nth-child(2) {
    margin: 18px 0;
  }

  .menu-add-btn {
    width: 35px;
    height: 35px;
  }

  button {
    height: 50px;
    font-size: 14px;
    margin-top: 40px;
    padding: 14px;
  }

  .pay-btn {
    padding: 10px;
    margin-top: 33px;
  }
}

@media (max-width: 250px) {
  .menu-emoji {
    font-size: 30px;
    margin-right: 8px;
  }

  h1 {
    font-size: 22px;
    margin-bottom: 6px;
  }

  h2,
  .order h3,
  .total-price h3:first-child {
    font-size: 16px;
  }

  header p {
    font-size: 14px;
    line-height: 1.4;
  }

  .modal h2 {
    font-size: 16px;
    margin-bottom: 15px;
  }

  #checkout-section h2 {
    margin-bottom: 25px;
    font-size: 18px;
  }

  h3,
  input {
    font-size: 12px;
  }

  .menu-item p {
    font-size: 11px;
  }

  p {
    font-size: 14px;
  }

  #message,
  .menu-add-btn {
    font-size: 18px;
  }

  #message {
    padding: 15px 0;
  }

  .order span {
    font-size: 9px;
    margin-left: 5px;
  }

  main {
    margin: 10px auto 0;
    padding: 0 6px;
  }

  header {
    padding: 8px 0 25px 8px;
  }

  .menu-section {
    padding-bottom: 20px;
    margin-bottom: 15px;
  }

  .item-order:last-child {
    margin-bottom: 15px;
  }

  .modal {
    height: 220px;
    padding: 20px 10px 15px;
  }

  input {
    padding: 6px 12px;
  }

  input:nth-child(2) {
    margin: 10px 0;
  }

  .menu-add-btn {
    width: 20px;
    height: 20px;
  }

  button {
    height: 35px;
    font-size: 12px;
    margin-top: 20px;
    padding: 8px;
  }

  .pay-btn {
    padding: 8px;
    margin-top: 15px;
  }
}

@media (max-width: 1024px) {
  header {
    height: 220px;
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 1000px;
    padding: 0 60px;
  }

  header {
    height: 270px;
    padding: 60px 0 90px 60px;
  }

  h1 {
    font-size: 48px;
  }

  header p {
    font-size: 24px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }

  .menu-emoji {
    font-size: 90px;
    margin-right: 40px;
  }

  .menu-section {
    padding-bottom: 60px;
    margin-bottom: 50px;
  }

  .menu-item p {
    font-size: 18px;
  }

  .menu-add-btn {
    width: 60px;
    height: 60px;
    font-size: 36px;
  }

  button {
    height: 70px;
    font-size: 18px;
    margin-top: 60px;
    padding: 20px;
  }

  .modal {
    max-width: 700px;
    height: 530px;
    padding: 60px 40px;
  }

  .modal h2 {
    font-size: 32px;
    margin-bottom: 50px;
  }

  input {
    font-size: 18px;
    padding: 18px 30px;
  }
}
