* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(52, 51, 55);
  font-family: Inter;
  font-weight: 400;
  padding: 0 1em;
}
input,
select,
button {
  height: 42px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 1);
}

select,
button {
  border: 1px solid rgba(209, 213, 219, 1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.colors,
.color {
  width: 100%;
}

main {
  background-color: rgb(255, 255, 255);
  max-width: 550px;
  height: 100vh;
  margin: 0 auto;
  padding: 1.4em 0 1em;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5em;
  border-bottom: 0px 4px 11px 0px rgba(0, 0, 0, 0.15);
}

.colors {
  margin-top: 1.4em;
  height: 555px;
  display: flex;
}

.color-container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.color {
  height: 100%;
  width: 100%;
}

.color-one {
  background-color: rgb(245, 90, 90);
}

.color-two {
  background-color: rgb(43, 40, 58);
}

.color-three {
  background-color: rgb(251, 243, 171);
}

.color-four {
  background-color: rgb(170, 209, 182);
}

.color-five {
  background-color: rgb(166, 38, 211);
}

input {
  width: 61px;
  height: 42px;
  border: 0.5px solid rgba(49, 49, 49, 1);
  padding: 0 0.3em;
}

select {
  width: 312px;
  padding: 0 0.7em;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: rgba(17, 24, 39, 1);
}

select:focus {
  outline: 0;
}

button {
  width: 123px;
  font-weight: 500;
  font-size: 0.75rem;
  color: rgba(55, 65, 81, 1);
}

.color-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 0.75rem;
  margin-block-start: 1em;
  color: rgba(43, 40, 58, 1);
}

@media (max-width: 540px) {
  body {
    background-color: brown;
  }
  form {
    padding: 0 0.5em;
  }

  input {
    width: 55px;
  }

  select {
    width: 270px;
    font-size: 0.875rem;
  }

  button {
    width: 90px;
  }
}
