:root {
  --bg: rgba(18, 18, 18, 1);
  --text: rgba(165, 165, 165, 1);
  --btn: rgba(75, 75, 75, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg);
  color: var(--text);
  line-height: 1.4;
  border: 4px solid rebeccapurple;
}

.flex {
  display: flex;
}

.header,
.empty {
  flex-direction: column;
}

.header-top,
.empty,
.add-wrap {
  align-items: center;
}

.header-top,
.empty {
  margin: auto;
}

h1.title {
  font-weight: 800;
  font-size: 2.674rem;
}

a.watchlist,
input,
button,
.add-wrap p,
.movie-description {
  font-size: 0.875rem;
}

.movie-title span,
.movie-info {
  font-size: 0.75rem;
}

.label,
.movie-title h2 {
  font-size: 1.125rem;
}

a.watchlist,
.label,
.add-wrap p {
  font-weight: 700;
}

.movie-description,
.movie-title span,
.movie-info {
  font-weight: 400;
}

input,
button,
.movie-title h2 {
  font-weight: 500;
}

.label,
.watchlist-section {
  text-align: center;
}

.header-top,
form,
.search-icon,
input {
  width: 100%;
}

.header-top,
.add-wrap p,
.movie-title,
.movie-info,
button {
  color: rgba(255, 255, 255, 1);
}
.header-top {
  flex-wrap: wrap;
}

/* Icons/Image */
.search-icon {
  position: relative;
}

.search-icon svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.movie-info div svg,
.movie-title div svg {
  margin-right: 6px;
}

/* Link/Btn */
.movie-description > a,
a.watchlist {
  color: unset;
  text-decoration: none;
}
.movie-img{
  width: 99px;
}

/* Form */
form {
  position: absolute;
  top: 189px;
  background-color: transparent;
}

input,
button {
  border: none;
}

input {
  background-color: rgba(46, 46, 47, 1);
  padding: 9px 11px 9px 32px;
  color: var(--text);
}

button {
  background: var(--btn);
  font-weight: 600;
  padding: 9px 24px;
  cursor: pointer;
}

main {
  border: 4px solid green;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

header {
  height: 208px;
  background-image: url("./assets/image\ 36.png");
  background-color: rgba(14, 14, 14, 1);
  background-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  height: 100%;
  margin: 0 42px;
  position: relative;
}

.header-top {
  justify-content: space-between;
  gap: 15px;
}

.content {
  border: 4px solid green;
  min-height: calc(100vh - 208px);
  padding: 35px 24px;
}

/* Watchlist */
.watchlist-section {
  gap: 15px;
}

.watchlist {
  flex-direction: column;
}

.movie {
  border: 4px solid red;
  flex-direction: row-reverse;
  align-items: center;
  gap: 21px;
  margin-bottom: 26px;
  padding: 21px 0;
}
.movie:last-child {
  margin-bottom: 0;
}

.movie > div {
  border: 2px solid pink;
}

.movie-title,
.movie-info,
.movie-title div,
.movie-info div {
  align-items: center;
}

.movie-title {
  flex-wrap: wrap;

  gap: 8px;
}

.movie-info {
  flex-wrap: wrap;
  gap: 15px;
}

.movie-info {
  margin-block: 11px 8px;
}

@media (max-width: 550px) {
  .header-top {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }
}

@media (max-width: 486px) {
  .movie{
    gap: 10px;
  }
  .movie-img {
    align-self: stretch;
  }
  .header {
    margin: 0 20px;
  }

  form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

  h1.title {
    font-size: 28px;
    margin-bottom: 0.3em;
  }
}

@media (max-width: 350px) {
  .movie{
    padding-top: 0;
  }
  .movie {
    flex-direction: column-reverse;
  }
  .movie-img {
    width: 100%;
  }
  header {
    height: 180px;
  }

  form {
    top: 149px;
  }

  .header {
    margin: 0 10px;
  }

  h1.title {
    font-size: 24px;
  }

  a.watchlist,
  input,
  button,
  .add-wrap p {
    font-size: 0.75rem;
  }

  .search-icon svg {
    width: 14px;
  }

  .empty svg {
    width: 50px;
    height: 42px;
  }

  .label,
  .movie-title h2 {
    font-size: 0.94rem;
  }

  .watchlist-section {
    gap: 8px;
  }
  .content {
    padding-inline: 8px;
  }

  .add-wrap svg {
    width: 22px;
  }
  .movie-info {
    gap: 8px;
  }
  .movie-info p {
    line-height: 1.6;
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: 2.8rem;
  }
  .label,
  .movie-title h2 {
    font-size: 1.25rem;
  }
  .movie-title span,
  .movie-info {
    font-size: 0.875rem;
  }

  a.watchlist,
  input,
  button,
  .add-wrap p,
  .movie-description {
    font-size: 1rem;
  }
  input {
    padding: 10px 12px 10px 33px;
  }
  .movie-img {
    width: 140px;
  }
  .movie > div {
    margin: auto;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 3rem;
  }
  .label,
  .movie-title h2 {
    font-size: 1.4rem;
  }
  .movie-title span,
  .movie-info {
    font-size: 0.938rem;
  }

  a.watchlist,
  input,
  button,
  .add-wrap p,
  .movie-description {
    font-size: 1.1rem;
  }
  input {
    padding: 11px 13px 11px 34px;
  }
  .movie-img {
    width: 180px;
  }
}
