:root {
  --bg: rgba(18, 18, 18, 1);
  --text: rgba(165, 165, 165, 1);
  --btn: rgba(75, 75, 75, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
/* 
html,
body {
  min-height: 100%;
} */

body {
  font-family: "Inter", sans-serif;
  background: var(--bg);
  color: var(--text);
  line-height: 1.4;
  border: 4px solid rebeccapurple;
}

.flex {
  display: flex;
}

.header,
.empty {
  flex-direction: column;
}

.header-top,
.empty,
.add-wrap {
  align-items: center;
}

.header-top,
.empty {
  margin: auto;
}

h1.title {
  font-weight: 800;
  font-size: 2.674rem;
}
a.watchlist,
input,
button,
.add-wrap p,
.movie-description {
  font-size: 0.875rem;
}

.movie-title span,
.movie-info {
  font-size: 0.75rem;
}

.label,
.movie-title h2 {
  font-size: 1.125rem;
}

a.watchlist,
.label,
.add-wrap p {
  font-weight: 700;
}

.movie-description,
.movie-title span,
.movie-info {
  font-weight: 400;
}

input,
button,
.movie-title h2 {
  font-weight: 500;
}

.label,
.watchlist-section {
  text-align: center;
}

.header-top,
form,
.search-icon,
input {
  width: 100%;
}

.header-top,
.add-wrap p,
.movie-title,
.movie-info,
button {
  color: rgba(255, 255, 255, 1);
}

.movie-description > a {
  color: unset;
  text-decoration: none;
}

/* Icons */
main {
  border: 4px solid green;
  max-width: 900px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

header {
  height: 208px;
  background-image: url("./assets/image\ 36.png");
  background-color: rgba(14, 14, 14, 1);
  background-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  height: 100%;
  margin: 0 42px;
  position: relative;
}

.header-top {
  justify-content: space-between;
  gap: 15px;
}

a.watchlist {
  text-decoration: none;
  color: unset;
}

form {
  position: absolute;
  top: 189px;
  background-color: transparent;
}

.search-icon {
  position: relative;
}

.search-icon svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

input,
button {
  border: none;
}

input {
  background-color: rgba(46, 46, 47, 1);
  padding: 9px 11px 9px 32px;
  color: var(--text);
}

button {
  background: var(--btn);
  font-weight: 600;
  padding: 9px 24px;
  cursor: pointer;
}

.content {
  border: 4px solid green;
  height: calc(100vh - 208px);
  padding: 35px 24px;
}

/* Watchlist */
.watchlist-section {
  gap: 15px;
}

.add-wrap svg {
  margin-right: 5px;
}

.watchlist {
  flex-direction: column;
}

.movie {
  border: 4px solid red;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  gap: 21px;
  margin-bottom: 26px;
  padding: 21px 0;
}

.movie:last-child {
  margin-bottom: 0;
}

.movie:first-child {
  padding-top: 0;
}

.movie > div {
  padding-top: 15px;
  border: 2px solid pink;
}

.movie-title,
.movie-info {
  align-items: center;
}

.movie img {
  width: 99px;
}

.movie-title svg {
  margin-inline: 7px 3px;
}

.movie-info {
  margin-block: 11px 8px;
}

.info {
  margin-inline: 10px 15px;
}

.movie-info svg {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

@media (max-width: 540px) {
  .header {
    margin: 0 20px;
  }

  .header-top,
  form {
    flex-direction: column;
    justify-content: center;
  }

  .header-top {
    text-align: center;
    gap: 0;
  }

  form {
    align-items: center;
    gap: 3px;
  }

  h1.title {
    font-size: 28px;
    margin-bottom: 0.3em;
  }
}

@media (max-width: 200px) {
  header {
    height: 180px;
  }

  form {
    top: 149px;
  }

  .header {
    margin: 0 10px;
  }

  h1.title {
    font-size: 24px;
  }

  a.watchlist,
  input,
  button,
  .add-wrap p {
    font-size: 0.75rem;
  }

  .search-icon svg {
    width: 14px;
  }

  .empty svg {
    width: 50px;
    height: 42px;
  }

  .label {
    font-size: 0.94rem;
  }

  .watchlist-section {
    gap: 8px;
  }

  .add-wrap svg {
    width: 22px;
  }
}
