@media (min-width: 550px) {
  body {
    background-color: red;
  }

  .logo {
    width: 34px;
  }

  .app-logo-container > a {
    font-size: 1.25rem;
  }

  main {
    background: rgba(250, 250, 250, 1);
  }

  .nav-list > li,
  .date,
  .hero-bg-content > p {
    font-size: unset;
  }

  .hero-bg-content > h1 {
    font-size: 2.5rem;
  }

  .hero-bg-content > p {
    max-width: 609px;
  }

  .view-link {
    font-size: 0.875rem;
  }

  header {
    height: 83px;
    padding: 0 53px;
  }

  .hero-bg-img {
    min-height: 50vh;
  }

  .hero-bg-content {
    max-width: 657px;
    bottom: 59.27px;
    margin: 0 2.5em;
  }
}

@media (min-width:768px) {
  body{
    background-color: black;
  }
  
  .article-listing,
  .home-listing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 2.5em;
  }

  .article-post {
    max-width: none;
    width: 100%;
  }
}

@media (min-width: 1000px) {
  body {
    background-color: blueviolet;
  }

  .hero-bg-img {
    min-height: 55vh;
  }

  .hero-bg-content {
    max-width: 720px;
    margin: 0 3.3em;
  }

  .article-listing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3.3em;
  }
}
