.footerIcon {
  width: 25px;
  height: 25px;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 250px) {
  .footerIcon {
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 600px) {
  .footerIcon {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1025px) {
  .footer-icon {
    width: 35px;
    height: 35px;
  }
}
