@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 1rem;
}

body {
  color: rgba(41, 50, 100, 1);
  background-color: rgba(245, 247, 251, 1);
  line-height: 1.5;
}

.appContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.appContainer::before,
.appContainer::after {
  position: absolute;
  content: "";
  width: 297px;
  height: 235px;
  background-size: cover;
  pointer-events: none;
  z-index: -1;
}

.appContainer::before {
  background: url("/public/blob.svg") no-repeat right top;
  top: 0;
  right: 0;
}

.appContainer::after {
  background: url("/public/blob2.svg") no-repeat left bottom;
  bottom: 0;
  left: 0;
}

.quizSection {
  border: 4px solid red;
  max-width: 550px;
  margin: 40px auto 25px;
  padding-inline: 10px;
}

button {
  background-color: rgba(77, 91, 158, 1);
  color: rgba(245, 247, 251, 1);
  font-family: "Inter";
  border: none;
}

.secondaryBtn {
  width: 120px;
  padding: 10px 20px;
  font-size: 0.64rem;
  font-weight: 600;
  border-radius: 10px;
}

.answerBtn {
  display: block;
  margin: 20px auto 0;
}

@media (max-width: 250px) {
  html {
    font-size: 0.875rem;
  }

  .secondaryBtn {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .answerBtn {
    margin: 15px auto 0;
  }
}

@media (min-width: 500px) {
  html {
    font-size: 1.125rem;
  }

  .quizSection {
    border: 4px solid blue;
    max-width: 700px;
  }

  .secondaryBtn {
    width: 180px;
    padding: 12px 24px;
    font-size: 0.75rem;
  }

  .answerBtn {
    margin: 25px auto 0;
  }
}

@media (min-width: 900px) {
  html {
    font-size: 1.25rem;
  }

  .quizSection {
    border: 4px solid green;
    max-width: 900px;
    padding-inline: 15px;
  }

  .secondaryBtn {
    width: 180px;
    font-size: 0.875rem;
  }

  .answerBtn {
    margin: 30px auto 0;
  }
}
